@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}
fieldset{
    margin-top: 100px;
}
.col{
    display: grid;
    grid-template-columns: 200px;
}
.col1{
    display: grid;
    grid-template-columns: 200px;
}
.col2{
    display: grid;
    grid-template-columns: 200px;
}


input[type="submit"]{
    width: 112px;
    height: 43px;
    border-radius: 30px;
    border: none;
    background: rgba(0, 0, 0, 0.856);
    color: white;
    font-family: sans-serif;
    margin-left: 207px;
    margin-top: 40px;
}