@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #000000;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
}
.estrutura{
    margin-top: 150px;
    background-color: #960606;
    width: 100%;
    height: 500px;
}
.cabecalho{
    width: 80%;
    position: relative;
    left: 11%;
    top: 20px;
    box-shadow: 0px 0px 4px black
}

.logo{
    font-size: x-large;
    font-weight: bolder;
    list-style: none;
    list-style-type: none;
    text-decoration: none;
    margin-right: 75px;
    margin-left: 60px;
}
.cabecalho a{
    color: white;
}
.cabecalho ul{
    background-color: rgba(0, 0, 0, 0.795);
    width: 100%;
    height: 80px;
    color: white;
}
.menu{
    margin-top: 21px;
    
    font-size: 15px;
    font-weight: bolder;
    margin-right: 40px;
    letter-spacing: 1px;
    display: inline-block;
}
.menu li{
    list-style: none;
    list-style-type: none;
    display: inline-block;
    padding: 10px;
    
}
.titulo{
    /* margin-top: 166px; */
    /* margin-left: 157px; */
}
.titulo h2{
    margin: 77px;
    margin-top: 126px;
    margin-left: 207px;
    font-size: 2rem;
}
.titulo p{
    
    margin: 30px;
    margin-top: 55px;
    margin-left: 207px;
    font-size: 1rem;
    width: 709px;

}
input[type="submit"]{
    width: 112px;
    height: 43px;
    border-radius: 30px;
    border: none;
    background: rgba(0, 0, 0, 0.856);
    color: white;
    font-family: sans-serif;
    margin-left: 207px;
    margin-top: 40px;
}
.icon{
    float: right;
}