body{
    background-color: #000;
}
.container {
    background-color: rgb(14, 13, 13);
    width: 950px;
    margin: 0 auto;
    border-radius: 15px;
    border:1px solid white;
    padding: 10px;
}
.texto{
    color: white;
    margin-top: 10%;
    text-align: center;

    font-family: sans-serif,Arial;
    font-size: 1.5rem;
}
.bloco{
    background-color: #333;
    margin: 10px;
    border-radius: 25px;
}
.main p{
    font-size: 15px;
    text-align: center;
    color: white;
    font-family: sans-serif,Arial;
}
.bloco1{
    width: calc(100%/1);
    margin-top: 20px;
}
.bloco2{
    width: calc(100%/2);
}
.bloco3{
    width: calc(100%/2);
}
.bloco4{
    width: calc(100%/3);
}
.bloco5{
    width: calc(100%/3);
}
.bloco6{
    width: calc(100%/3);
}
.bloco7{
    width: calc(100%/4);
}
.bloco8{
    width: calc(100%/4);
}
.bloco9{
    width: calc(100%/4);
}
.bloco10{
    width: calc(100%/4);
}
.bloco11{
    width: calc(100%/12);
}
.bloco12{
    width: calc(100%);
}
.bloco13{
    width: calc(100%/12*2);
}
.bloco14{
    width: calc(100%);
}
.bloco15{
    width: calc(100%/12*3);
}
.bloco16{
    width: calc(100%);
}
.bloco17{
    width: calc(100%/12*4);
}
.bloco18{
    width: calc(100%);
}
.bloco19{
    width: calc(100%/12*5);
}
.bloco20{
    width: calc(100%);
}
.bloco21{
    width: calc(100%/12*6);
}
.bloco22{
    width: calc(100%);
}

.main{
    display: flex;
}
.bloco:hover{
    background-color: slategray;
    transition:ease-in-out .3s;

}

.bloco1:hover{
    
    background-color:rgb(134, 42, 13);
}
.bloco2:hover{
    
    background-color:rgb(145, 255, 0);
}
.bloco3:hover{
    
    background-color:rgb(255, 115, 0);
}
.bloco4:hover{
    
    background-color:rgb(96, 38, 119);
}
.bloco5:hover{
    
    background-color:blue;
}
.bloco6:hover{
    
    background-color:rgb(70, 168, 130);
}
.bloco7:hover{
    
    background-color:rgb(142, 163, 47);
}
.bloco8:hover{
    
    background-color:rgb(165, 22, 129);
}
.bloco9:hover{
    
    background-color:rgb(33, 160, 199);
}
.bloco10:hover{
    
    background-color:rgb(25, 89, 105);
}
.bloco11:hover{
    
    background-color:rgb(16, 56, 10);
}
.bloco12:hover{
    background-color:rgb(43, 78, 46);
}
.bloco13:hover{
    
    background-color:rgb(86, 86, 136);
}
.bloco14:hover{
    background-color:rgb(65, 55, 150);
}
.bloco15:hover{
    
    background-color:rgb(4, 71, 60);
}
.bloco16:hover{
    background-color:rgb(65, 9, 9);
}
.bloco17:hover{
    
    background-color:rgb(96, 96, 102);
}
.bloco18:hover{
    background-color:rgb(75, 3, 3);
}
.bloco19:hover{
    
    background-color:rgb(143, 2, 2);
}
.bloco20:hover{
    background-color:rgb(255, 0, 0);
}
.bloco21:hover{
    background-color: cornflowerblue;
}
.bloco22:hover{
    background-color: rgb(22, 46, 90);
}