*{
    margin: 0;
    padding: 0;
    outline: none;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(45deg, orange,blue);
}
.calculadora .div{
    display: flex;
}
/* .calculadora{
    height: 400px;
    padding: 10px;
    border-radius: 2px 20px 2px 20px;
    background-color: #0000001f;
} */
.calculadora{
background: rgba(255, 255, 255, 0.14);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.01);
padding: 20px;
width: 428px;
}
li{
    margin: 2px;
    border: none;
    border-radius: 5px;
    background: #00000011;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    width: 100px;
    height: 75px;
    text-align: center;
    list-style: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    

    
}
.tela{
    height: 50px;
    width: calc(100% - 16px);
    margin-top: 20px;
   letter-spacing: 2px;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.137);
    font-size: 2rem;
    color: white;
    padding: 10px 0px 0px 15px;

}
body h1{
    font-size: 10rem;
    position: absolute;
    font-family: fantasy;
}
li:hover{
    background-color: rgba(192, 189, 189, 0.685);
  
}
.clear{
    background-color: rgba(255, 0, 0, 0.616);
}
.clear:hover{
    background-color: rgba(252, 0, 0, 0.445);
}
.verificador{
    background-color: rgba(0, 0, 255, 0.61);
    width: calc(100% - 4px);
}
.verificador:hover{
    background-color: rgba(0, 0, 241, 0.644);
}

@media(max-width:393px){
    body{
        background-image: linear-gradient(120deg, green,blue);
    }
    .calculadora{
        width: 329px;
        
    }
    li{
        width: 75px;
        height: 50px;
    }
}