@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Helvetica, sans-serif;
    background-color: #a1c3ff;
}
 nav{
    background-color: #3474e6;
    color: white;
 }
 ul a{
     text-decoration: none;
     color: white;
 }
ul{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    padding: 15px;
    list-style: none;
    font-family: Helvetica, sans-serif;
    font-weight: bolder;
    align-items: center;
}
.menu-principal{
    display: flex;
}
.menu-principal:first-child{
    margin-right: 0 auto;
    margin-left: 5rem;
}
.e1{
    margin-right: 10px;
}

.secao-1{
    background-color: #0151cc;
    height: 500px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.texto{
    width: 45%;
}
.texto h1{
    font-size: 4rem;
}
.secao-1 p{
    width: 60%;
    margin-top: 20px;

}
.quadrados{
    border: 14px solid white;
    width: 15.3%;
    height: 15%;
    border-radius: 9px;
}
.conjunto-quadrados{
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.conjunto-texto{
    display: flex;
    justify-content: center;
}
.caixa-1{
    width: 250px;
    height: 220px;
    background-color: #0151cc;
    color: white;
    border-radius: 10px;
    text-align: inherit;
    padding: 15px;
    margin-right: 15px;
    margin-top: 25px;

}
.caixa-2{
    width: 250px;
    height: 220px;
    background-color: #0151cc;
    color: white;
    border-radius: 10px;
    text-align: inherit;
    padding: 15px;
    margin-right: 15px;
    margin-top: 25px;
}
.caixa-3{
    width: 250px;
    height: 220px;
    background-color: #0151cc;
    color: white;
    border-radius: 10px;
    text-align: inherit;
    padding: 15px;
    margin-top: 25px;
}
.caixa p{
    margin-top: 20px;
}
.conjunto-texto h2{
    display: inline;
}
.fas{
    margin-right: 10px;
    font-size: 25px;
}
.e0{
    margin-left: -130%;
    font-size: 1.2rem;
}