.contato{
    color: white;
    font-size: 2rem;
    margin-top: 5%;
    margin-left: 5%;
    margin-bottom: 3%;
}
.part-1{
    margin: 5%;
    background-color: black;
    color: white;
    padding: 30px;
    border-radius: 20px;
    height: 550px;
    position: relative;
}
.part-1 h2{
    width: 400px;
    margin-bottom: 15px;
}
.part-1 p{
    margin-bottom: 7px;
    margin-left: 30px;
}
.part-2{
    position: absolute;
    background-color: white;
    width: 1100px;
    height: 550px;
    right: 0%;
    top: 0%;
    border-radius: 0px 20px 20px 0px;
    color: black;
}
input{
    border: 1px solid cornflowerblue;
    height: 40px;
    border-radius: 10px;
    padding: 10px;
    outline: none;
}
.part-2 h2{
    margin: 30px;
}
.colun-1{
    display: inline-grid;
    width: 45%;
    margin-left: 30px;
    margin-bottom: 34px;
}
.colun-2{
    display: inline-grid;
    width: 45%;
    margin-left: 15px;
}
label{
    margin-bottom: 5px;
    margin-top: 15px;
}
#label-texto{
    display: block;
    margin-left: 30px;
    margin-bottom: 5px;
}
#texto{
    margin-left: 30px;
    width: 92%;
    border: 1px solid cornflowerblue;
    border-radius: 15px;
    padding: 20px;
    height: 25%;
    outline: none;
}
#butao{
    margin-left: 30px;
    margin-top: 20px;
    width: 92%;
    height: 7%;
    border-radius: 13px;
    border: none;
    background-color: black;
    color: white;
    padding: 10px;

}

#estrada{
    left: 30px;
    top: 102px;
    color: white;
}
#telefone{
    left: 30px;
    top: 125px;
    color: white;
}
#carta{
    left: 30px;
    top: 152px;
    color: white;
    
}
@media(max-width:820px){
    .part-1 h2{
        width: 223px;
    }
    .part-1 p {
        width:160px ;
    }
    .part-2{
        width: 500px;
    }
}
@media(max-width:390px){
    .part-1 h2 {
        width: 360px;    
    }
    .part-2{
        width: 351px;
        height: 760px;
        top:58%;
    }
    .colun-1{
        width: 85%;
    }
    .colun-2{
        width: 85%;
        margin-left: 30px;
    }
    #texto{
        margin-left: 15px;
    }
    #butao{
        margin-left: 15px;
    }
}