*{
    margin: 0;
    padding: 0;
}
.main-comentario{
    margin: 0 auto;
}

.comentarios{
    padding: 10px;
    background-color: #333;
    border-radius: 20px;
    border: 1px solid #4444;
    width: 200px;
    color: white;
    text-align: center;
}
.icone{
    background-color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    color: black;
    margin: 0 auto;
}
.titulo{
    font-weight: bold;
    margin-top: 10px;
}
.descricao{
    font-size: 11px;
    font-weight: 300;
}
.owl-dots{
    text-align: center;
}
.owl-dot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black !important;
    margin: 3px;
}
.owl-dots .active{
    background-color: #333 !important;
    width: 18px !important;
}