.plano-escolha{
    color: red;
    font-size: 15px;
    font-weight: 100;
    text-align: center;
    margin-top: 120px;
}
.escolha{
    color: white;
    font-size: 3rem;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 5%;
}
.global{
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 800px;
}
.plano-fundo-1{
   position: absolute;
   background-color: lightseagreen;
   height: 450px;
   width: 250px;
   border-radius: 30px;
   top: 20%;
   left: 29%;
   z-index: 0;
}
.plano-frente-1{
    position: absolute;
    text-align: center;
    width: 250px;
    height: 340px;
    background-color: white;
    margin-top: 92px;
    border-radius: 15% 15% 30px 30px;
    z-index: 2;
}
.plano-frente-1 h2{
    margin-top: 30px;
}
.plano-frente-1 h3{
    margin-bottom: 10px;
    font-weight: bolder;
    color: lightseagreen;
}
.plano-frente-1 p{
    width: 200px;
    height: 30px;
    margin: 0 auto 10px;
    position: relative;
}
.plano-bola-1{
    position: absolute;
    width: 250px;
    height: 150px;
    background-color: white;
    border-radius: 50%;
    margin: 0 auto ;
    top: 60px;
    z-index: 1;
}
.fas{
    background-color: white;
    border-radius: 50%;
    border: 2px solid lightseagreen;
    padding: 25px;
    color: lightseagreen;
    font-size: 2rem;
    position: absolute;
    top: -21%;
    left: 33%;
}
.contorno-1{
    background-color: white;
    position: absolute;
    height: 99px;
    width: 100px;
    border-radius: 50%;
    top: -78px;
    left: 75px;
}
button{
    width: 80px;
    height: 30px;
    background-color: lightseagreen;
    border: none;
    border-radius: 7px;
}
button:hover{
    background-color: rgb(7, 59, 57);
}
.p1{
    border-bottom: 1px solid rgba(128, 128, 128, 0.596);
}
#check-1{
    position: absolute;
    top: 25%;
    font-size: 25px;
    left: 30px;
    color: lime;
}
#check-2{
    position: absolute;
    top: 37%;
    font-size: 25px;
    left: 30px;
    color: lime;
}
#check-3{
    position: absolute;
    top: 49%;
    font-size: 25px;
    left: 30px;
    color: lime;
}
#check-4{
    position: absolute;
    top: 61%;
    font-size: 25px;
    left: 30px;
    color: red;
}
#check-5{
    position: absolute;
    top: 72%;
    font-size: 25px;
    left: 30px;
    color: red;
}

.plano-fundo-2{
    position: absolute;
    background-color: rgb(0, 102, 255);
    height: 450px;
    width: 250px;
    border-radius: 30px;
    top: 20%;
    left: 44%;
    z-index: 0;
 }
 .plano-frente-2{
     position: absolute;
     text-align: center;
     width: 250px;
     height: 340px;
     background-color: white;
     margin-top: 92px;
     border-radius: 15% 15% 30px 30px;
     z-index: 2;
 }
 .plano-frente-2 h2{
     margin-top: 30px;
 }
 .plano-frente-2 h3{
     margin-bottom: 10px;
     font-weight: bolder;
     color: rgb(0, 102, 255);
 }
 .plano-frente-2 p{
     width: 200px;
     height: 30px;
     margin: 0 auto 10px;
     position: relative;
 }
 .plano-bola-2{
     position: absolute;
     width: 250px;
     height: 150px;
     background-color: white;
     border-radius: 50%;
     margin: 0 auto ;
     top: 60px;
     z-index: 1;
 }
 .plano-frente-2 #check-4{
     color: lime;
 }
 .butao-2{
    background-color: rgb(0, 102, 255);
    color: white;
 }
 .butao-2:hover{
    background-color: rgb(16, 42, 82);
 }
 #gema{
    background-color: white;
    border-radius: 50%;
    border: 2px solid rgb(0, 102, 255);
    padding: 25px;
    color: rgb(0, 102, 255);
    font-size: 2rem;
    position: absolute;
    top: -21%;
    left: 33%;
 }
 .contorno-2{
    background-color: white;
    position: absolute;
    height: 99px;
    width: 100px;
    border-radius: 50%;
    top: -78px;
    left: 77px;
 }

 .plano-fundo-3{
    position: absolute;
    background-color: rgb(228, 207, 20);
    height: 450px;
    width: 250px;
    border-radius: 30px;
    top: 20%;
    left: 59%;
    z-index: 0;
 }
 .plano-frente-3{
     position: absolute;
     text-align: center;
     width: 250px;
     height: 340px;
     background-color: white;
     margin-top: 92px;
     border-radius: 15% 15% 30px 30px;
     z-index: 2;
 }
 .plano-frente-3 h2{
     margin-top: 30px;
 }
 .plano-frente-3 h3{
     margin-bottom: 10px;
     font-weight: bolder;
     color: rgb(228, 207, 20);
 }
 .plano-frente-3 p{
     width: 200px;
     height: 30px;
     margin: 0 auto 10px;
     position: relative;
 }
 .plano-bola-3{
     position: absolute;
     width: 250px;
     height: 150px;
     background-color: white;
     border-radius: 50%;
     margin: 0 auto ;
     top: 60px;
     z-index: 1;
 }
 .plano-frente-3 #check-4{
     color: lime;
 }
 .plano-frente-3 #check-5{
    color: lime;
}
.butao-3{
    background-color: rgb(228, 207, 20);
    color: white;
}
.butao-3:hover{
    background-color: rgb(107, 97, 9);
}
#foguete{
    background-color: white;
    border-radius: 50%;
    border: 2px solid rgb(228, 207, 20);
    padding: 25px;
    color: rgb(228, 207, 20);
    font-size: 2rem;
    position: absolute;
    top: -21%;
    left: 84px;
}
.contorno-3{
    background-color: white;
    position: absolute;
    height: 99px;
    width: 100px;
    border-radius: 50%;
    top: -78px;
    left: 77px;
}
.plano-fundo-1:hover{
    transform: scale(1.2);
    transition: .7s all;
}
.plano-fundo-2:hover{
    transform: scale(1.2);
    transition: .7s all;
}
.plano-fundo-3:hover{
    transform: scale(1.2);
    transition: .7s all;
}
@media(max-width:820px){
  .plano-fundo-1{
    display: flex;
    margin-left: -27%;
  }
  .plano-fundo-2{
    display: flex;
    margin-left: -9%;
  }
  .plano-fundo-3{
    display: flex;
    margin-left: 9%;
  }
        
}

@media(max-width:390px){
    .conjunto-pricing{
        width: 100%;
        height: 100%;
       
    }
    .preco-1{
        position: relative;
    }
    .preco-2{
        position: relative;
        top: 50%;
        right: 15%;
    }
    .preco-3{
        position: relative;
        top: 100%;
        right: 30%;
    }
    .global{
        height: 1000px;
    }
    .texto-visivel{
        margin-bottom: 15%;
    }
    
}