@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(0, 0, 0, 0.932);
    font-family: "Ubuntu","Arial";
}
nav{
    font-family: "Ubuntu";
    text-transform: capitalize;
    text-align: center;
    margin-top: 15px;
}
nav a{
    color: white;
    list-style: none;
    list-style-type: none;
    text-decoration: none;
}

/* nav ul{
    width: 100vw;
    height: 70px;
} */
 nav li{
    display: inline-block;
    padding: 5px 10px;
} 

.logo{
    font-size: 45px;
    text-transform: none;
    font-weight: 700;
    margin: 0 auto;
}
.cabecalho{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 85%;
    margin: 0 auto;
}
.secao-1{
    position: relative;
}
.secao-1-texto{
    margin-right: 45%;
}
#contact{
    background-color: #181884;
    padding: 15px;
    border-radius: 7px;
    width: 105px;
}
.section-group-1{
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
}
.section-group-1 h2{
    color: white;
    font-size: 60px;
    font-family: 'Ubuntu';
    width: 301px;
    margin-top: 340px;
    margin-left: 328px;
    display: inline-block;
}
span{
    text-decoration: underline;
    text-decoration-color: red;
    text-decoration-style: inherit;

}
.section-group-1 p{
    color: white;
    font-size: 15px;
    width: 294px;
    margin-top: 11px;
    margin-left: 325px;
}
#butao{
    background-color: #181884;
    color: white;
    border: none;
    padding: 20px;
    border-radius: 5px;
    margin-left: 323px;
    margin-top: 13px;
    font-size: 15px;
    font-weight: bolder;
}
#controle{
    margin-left: 500px;
    margin-top: -194px;
    
}
.secao-2{
    position: relative;
}
.section-group-2{
    
    width: 100%;
    height: 1000px;
    padding: 25px;
    color: white;
}

.img-group{
    width: 870px;
    margin-left: 29%;
}

.group-image{
    float: left;
    width: 12%;
    margin-top: 58px;
    margin-left: 50px;
}
.section-group-2 h2{
    color: rgb(57, 7, 150);
    text-transform: uppercase;
    font-weight: bolder;
    margin-top: 14%;
    margin-left: 16%;
    font-size: 34px;
}
.section-group-2 h1{
    margin-top: 10px;
    margin-left: 298px;
    width: 330px;
    font-size: 55px;

}
#title-sec{
    text-align: center;
    color: rgb(78, 78, 78);
    margin-top: 80px;
    font-size: 22px;
}
#title-sec-1{
    width: 245px;
    margin: 20px;
    margin-left: 295px;
    color: grey;

}
.group-p{
    color: grey;
}
.section-group-2 h5{
    font-size: 18px;
}
.group-form{
    display: inline-block;
    width: 20%;
    margin: 10px;
    padding: 5px;
    text-align: inherit;
    height: 37%;
}

.icon-social-desktop{
    padding: 5px;
    background-color:rgba(102, 51, 153, 0.5);
    border-radius: 4px;
    margin-bottom: 15px;   
}
.icon-social-rocket{
    background-color: rgba(255, 0, 0, 0.5);
    padding: 5px;
    border-radius: 4px;
    margin-bottom: 15px;  
}
.icon-social-up{
    background-color: rgba(172, 255, 47, 0.5);
    padding: 5px;
    border-radius: 4px;
    margin-bottom: 15px;  
}
.icon-social-doc{
    background-color: rgba(255, 255, 0, 0.5);
    padding: 5px;
    border-radius: 4px;
    margin-bottom: 15px;  
}
.section-group-3{
    height: 1000px;
    position: relative;
}

.section-group-3 h3{
    color: rgb(57, 7, 150);
    text-transform: uppercase;
    font-weight: bolder;
    margin-top: 8%;
    text-align: center;
    font-size: 20px;
}
.section-3-intro{
    color: white;
    font-weight: bolder;
    margin-top: 2%;
    text-align: center;
    font-size: 50px;
    margin-bottom: 40px;
}
.section-3-group{
    display: inline-table;
    padding: 0px 15px;
}
.section-group-3 p{
    width: 250px;
    color: grey;
    margin-top: 10px;
}
.section-3-h2{
    color: white;
    padding: 11px 0px;
    font-size: 25px;
}
.section-3-posi{
    position: absolute;
    left: 20%;
}
.section-group-3 h5{
    position: absolute;
    top: 80%;
    left: 46%;
    font-size: 20px;
    color: rebeccapurple;
}
.image-games{
    border-radius: 15px;
    box-shadow: 5px 5px 1px rebeccapurple;
    opacity: 0.8;
}

#icon{
    position: absolute;
    left: 28%;
    top: 75%;
    color: gold;
    border-radius: 20px;
    font-size: 2.5rem;
}
#icon:hover{
    color: rgb(111, 0, 255);
}
#icon1{
    position: absolute;
    left: 62%;
    top: 75%;
    color: gold;
    border-radius: 20px;
    font-size: 2.5rem;
}
#icon1:hover{
    color: rgb(111, 0, 255);
}
#icon2{
    position: absolute;
    left: 95%;
    top: 75%;
    color: gold;
    border-radius: 20px;
    font-size: 2.5rem;
}
#icon2:hover{
    color: rgb(111, 0, 255);
}
#icon3{
    position: absolute;
    left: 70%;
    color: gold;
    border-radius: 20px;
    font-size: 2.5rem;
}
#icon3:hover{
    color: rgb(111, 0, 255);
}
   
.section-group-4{
    position: relative;
    height: 690px;
    
}
.section-group-4 h3{
    color: rebeccapurple;
    font-size: 20px;
    margin-left: 14%;
    text-transform: uppercase;
}
.section-group-4 h2{
    font-size: 3rem;
    color: white;
    margin-left: 14%;
    margin-top: 25px;
    margin-bottom: 25px;
}
.far {
    position: absolute;
    left: 70%;
    color: gold;
    font-size: 2.5rem;
    top: 8%;
}
.main-comentarios{
    margin: 0 auto;
    display: flex;
}
.testimonial-1{
    
    width: 450px;
    padding: 15px;
    background-color: #00000029;
    margin-left: 0%;
    margin-right: 2%;
    border-radius: 7px;
    margin-top: 6%;
}
.testimonial-2{
    
    width: 450px;
    padding: 15px;
    background-color: #00000029;
    margin-left: 30%;
    margin-right: 2%;
    border-radius: 7px;
    margin-top: 6%;
}
.testimonial-3{
    
    width: 450px;
    padding: 15px;
    background-color: #00000029;
    margin-left: 59%;
    margin-right: 2%;
    border-radius: 7px;
    margin-top: 6%;
}
.testimonial-4{
   
    width: 450px;
    padding: 15px;
    background-color: #00000029;
    margin-left: 90%;
    margin-right: 2%;
    border-radius: 7px;
    margin-top: 6%;
}
.secao-4{
    margin-bottom: 9%;

}
.testimonial-5{
   
    width: 450px;
    padding: 15px;
    margin-left: 120%;
    margin-right: 2%;
    border-radius: 7px;
    margin-top: 6%;
}

.section-group-4 h4{
    color: white;
   
    left: 115px;
    top: 31px;
    font-size: 25px;
}
.section-group-4 h6{
    color: dimgrey;
  
    left: 115px;
    top: 69px;
    font-size: 14px;
}
.section-group-4 p{
    color: floralwhite;
    margin-top: 18px;

}
.fas {
    color: gold;

    top: 25%;
    left: 73%;
}
.fas1 {
    color: gold;
 
    top: 25%;
    left: 73%;
}
#star-1{
    left: 77%;
}
#star-2{
    left: 81%;

}
#star-3{
    left: 85%;

}
#star-4{
    left: 89%;

}
.photo-perfil{
    border-radius: 50%;
    display: block;
}

.photo-perfil-1{
    border-radius: 50%;
    display: block;
}
.photo-perfil-2{
    
    border-radius: 50%;
    display: block;
}
.section-group-4 h5{
    position: absolute;
    top: 90%;
    left: 46%;
    font-size: 20px;
    color: rebeccapurple
}
.secao-5-posi{
    margin-top: 4%;
    flex-direction: row;
    margin-left: 15%;
    display: flex;
    justify-content: start;
}
.section-group-5{
    height: 900px;
}
.section-group-5 h3{
    color: rebeccapurple;
    font-size: 20px;
    text-transform: uppercase;
    margin-left: 16%;
    margin-top: 10%;
    margin-bottom: 25px;
}
.section-group-5 h2{
    font-size: 3rem;
    color: white;
    margin-left: 16%;
}
.team-1{
    margin-right: 55px;
    background-color: #c632cd2e;
    border-radius: 10px;
}
.team-1 h4{
    color: white;
    margin-top: 10px;
    text-align: center;
}
.team-1 h6{
    font-size: 13px;
    color: grey;
    text-align: center;
    margin-top: 7px;
}
.team-2{
    margin-right: 55px;
    background-color: #c632cd2e;
    border-radius: 10px;
}
.team-2 h4{
    color: white;
    margin-top: 10px;
    text-align: center;
}
.team-2 h6{
    font-size: 13px;
    color: grey;
    text-align: center;
    margin-top: 7px;
}
.team-3{
    margin-right: 55px;
    background-color: #c632cd2e;
    border-radius: 10px;
}
.team-3 h4{
    color: white;
    margin-top: 10px;
    text-align: center;
}
.team-3 h6{
    font-size: 13px;
    color: grey;
    text-align: center;
    margin-top: 7px;
}
.section-group-5 h5{
    margin-top: 8%;
    font-size: 17px;
    color: rebeccapurple;
    margin-left: 46%;
    position: absolute;
}
.section-group-5 img{
    border-radius: 7px;
}

.rodape h2{
    color: white;
    margin-left: 10%;
    font-weight: bold;
    font-size: 2.7rem;
}
.icon-rodape{    
    margin-left: 10%;
    margin-top: 5%;
}
#icon-face{
    color: rgb(82, 81, 81);
    margin: 10px;
    font-size: 25px;
    margin-right: 40px;
}
#icon-twitter{
    margin: 10px;
    color: rgb(82, 81, 81);
    font-size: 25px;
    margin-right: 40px;
}
#icon-youtube{
    margin: 10px;
    color: rgb(82, 81, 81);
    font-size: 25px;
}
.rodape p{
    color: grey;
    margin-top: 25px;
}
.rodape-global{
    text-align: center;
    display: flex;
    margin-left: 23%;
    position: relative;
    bottom: 196px;
    justify-content: space-around;
}
.rodape-global h5{
    color: white;
    font-size: 1.5rem;
}

.rodape{
    background-color: rgba(0, 0, 0, 0.411);
}

/* hover */

#butao:hover{
    background-color: #0e0e50;
    color: yellow;
}
.li_deco:hover{
    background-color: white;
    border-radius: 15px;
    color: black;
    transition: .7s all;
}
#contact:hover{
    border: 1.5px solid #181884;
    background-color: #111111;
    transition: .8s all;
    color: white;
}
.group-image:hover{
    transform: scale(1.5,1.5);
    transition: 1s all;
}
.pc:hover{
    transform: scale(1.2,1.2);
    background-color: rgb(201 146 255 / 50%);
    transition: .7s all;
}
.foguete:hover{
    transform: scale(1.2,1.2);
    background-color: rgb(255 129 129 / 50%);
    transition: .7s all;
}
.social:hover{
    transform: scale(1.2,1.2);
    background-color: rgb(210 255 141 / 50%);
    transition: .7s all;
}
.social2:hover{
    transform: scale(1.2,1.2);
    background-color: rgb(255 255 138 / 50%);
    transition: .7s all;
}
.image-games:hover{
    transform: scale(1.05,1.05);
    transition: 1.3s all;
}
h5:hover{
    background-color: rgba(255, 255, 255, 0.288);
    transition: 1.2s ease-in-out;
    color: white;
    border-radius: 5px;
}
#icon-face:hover{
    color: cornflowerblue;
    transition: .7s all;
}
#icon-twitter:hover{
    color: cornflowerblue;
    transition: .7s all;
}
#icon-youtube:hover{
    color: red;
    transition: .7s all;
}
.rodape p:hover{
    transform: scale(1.07,1.07);
    transition: .7s all;
}
.logo:hover{
    color: red;
    transition: .7s all;
}
/* carrossel */

.owl-dots{
    text-align: center;
}
.owl-dot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black !important;
    margin: 3px;
}
.owl-dots .active{
    background-color: #333 !important;
    width: 18px !important;
}

.tamanho{
    width: 60%;
    margin: 0 auto;
}
.grupo-conjunto{
    display: flex;
    width: 44%;
    height: 69%;
    flex-flow: column wrap;
    justify-items: center;
    position: absolute;
    top: 45%;
    left: 40%;
}



@media  (max-width:912px){
    .secao-1-texto {
        margin-right: 80%;
    }
    #controle{
        display: none;
    }
    .img-group {
        margin-left: 6%;
    }
    .section-group-2 h2{
        margin-left: 10%;
        margin-top: 20%;
    }
    .section-group-2 h1{
        margin-left: 10%;
    }
    #title-sec-1{
        margin-left: 10%;
    }
    .grupo-conjunto{
        top:60%;
        left:10% ;
    }
    .group-form{
        width: 95%;
    }
    .section-group-3 h3{
        margin-top: 15%;
    }
    .section-3-group{
        margin-bottom: 30px;
    }
    .section-group-3 h5{
        margin-top: 120%;
    }
    #icon{
        left: 51%;
        top: 27%;    
    }
    #icon1{
        left: 51%;
        top: 60%;
    }
    #icon2{
        left: 51%;
        top: 95%;
    }
    .secao-4{
        margin-top: 110%;
    }
    .tamanho{
        width: 52vh;
        margin-left: 25%;
    }
    .testimonial-1{
        margin-left: 0%;
    }
    .testimonial-2{
        margin-left: 1%;
    }
    .testimonial-3{
        margin-left: 1%;
    }
    .testimonial-4{
        margin-left: 1%;
    }
    .testimonial-5{
        display: none;
    }
    .image-equipe{
        width: 200px;
        height: 200px;

    }
    .secao-5-posi{
        margin-top: 4%;
    flex-direction: row;
    margin-left: 10%;
    display: flex;
    justify-content: space-around;
    }
    
    .team-1{
        
        margin-left: 0;
    }
    .team-2{
        
        
        margin-left: 0;
    }
    .team-3{
        margin-left: 0;
    }
    .section-group-5 h5{
        margin-top: 15%;
    }
    .section-group-5 {
        height: 690px;
    }
    .rodape-global {
        margin-left: 30%;
        bottom: 170px;
    }
@media(max-width:500px){
    .cabecalho{
        width: 100%;
    }
    #controle{
        display: none;
    }
    .logo{
        margin-left: 0px;
    }
    ul{
        margin-left: 0;
        flex-direction: column;
    }
    .secao-1{
        height: 1000px;
    }
    .secao-1-texto{
        margin-left: -90;
    }
    #title-sec{
        font-size: 1.1rem;
        margin: -33%;
    }
    .img-group{
        margin-left: -13%;
        width: 600px;
    }
    .section-group-2 h1{
        margin-left: 15%;
    }
    #title-sec-1{
        margin-left: 15%;
    }
    .grupo-conjunto{
        width: 81%;
        left: 1%;
        top: 65%;
    }
    .section-group-3 h3{
        margin-left: 0%;
        margin-top: 45%;
    }
    .section-3-posi{
        flex-direction: column;
        margin-left: 0;
    }
    .section-3-group{
        margin-bottom: 15%;

    }
    #icon{
        top: 22%;
        right: -70%;
    }
    #icon1{
        top: 55%;
        right: -42%;
    }
    #icon2{
        top: 89%;
    }
    .section-group-3 h5{
        top: 144%;
        left: 34%;
    }
    .secao-4{
        margin-top: 100%;
    }
    .section-group-4 h3{
        margin-left: 5%;
    }
    .section-group-4 h2{
        margin-left: 2%;
        font-size: 2.7rem;
    }
    #icon3{
        display: none;
    }
    .tamanho{
        width: 52vh;
        margin-left: 10px;
    }
    .testimonial-1{
        margin-left: 0%;
    }
    .testimonial-2{
        margin-left: 1%;
    }
    .testimonial-3{
        margin-left: 1%;
    }
    .testimonial-4{
        margin-left: 1%;
    }
    .testimonial-5{
        display: none;
    }
    .section-group-4 h5{
    margin-left: -37%; 
    }
    .secao-5-posi{
        margin-top: 30%;
        margin-left: 10%;
    }
    .team-1{
        margin-left: -15%;
    }
    .team-2{
        margin-left: -9%;
        margin-top: 104%;
    }
    .team-3{
        margin-left: -60%;
        margin-top: 208%;
    }
    .section-group-5 h5{
        margin-top: 284%;
        margin-left: 40%;

    }
    .rodape{
        height: 787px;
        margin-top: 170%;
    }
    .rodape h2{
        margin-left: 1%;

    }
    .icon-rodape{
        margin-left: 1%;
    }
    .rodape-global{
        display: flex;
        margin-left: 20%;
        flex-direction: column;
        bottom: 3%;
    }
    .pe-global{
        margin-bottom: 17%;
    }
}
@media(max-width:390px){
    .logo{
        display:none;
    }
    ul{
        flex-direction: row;
        
    }
    nav li {
        padding: 5px 8px;
    } 
    .secao-1-texto{
        width: 100%;
    }
    .section-group-1 h2{
        margin-top: 0;
        margin-left: 33%;
    }
    .section-group-1 p{
        margin-left: 33%;
    }
    #butao{
        margin-left: 33%;
    }
    #title-sec{
        width: 100%;
        margin-top: -100%;
        font-size: 15px;
        margin-left: 0;
    }
    .img-group{
        margin-top: 90px;
        margin-left: 0;
        width: 100%;
    }
    .group-image{
        float: left;
    width: 20%;
    margin-top: 58px;
    margin-left: 5%;
    }
    .section-group-2 h2{
        margin-top: 75%;
        margin-left: 20px;
    }
    .section-group-2 h1{
        margin-left: 5%;
    }
    #title-sec-1{
        margin-left: 5%;
    }
    .grupo-conjunto{
        top:20%;
    }
    .section-group-3 h3{
        margin-top: 10%;
    }
    .section-3-intro{
        margin-left: 16%;
    }
    .section-3-posi{
        margin-left: -15%;
    }
    .section-group-3 h5{
        top: 128%;
    }
    #icon{
        top: 11%;
        left: 80%;
        width: 70px;
    }
    #icon1{
        top: 45%;
        left: 80%;
        width: 70px;
    }
    #icon2{
        top: 79%;
        left: 80%;
        width: 70px;
    }
    .secao-4{
        width: 100%;
    }
    .section-group-4 h2{
        font-size: 2.1rem;
    }
    .tamanho{
        width: 43vh;
    }
    .testimonial-1{
        display: contents;
    }
    .testimonial-2{
        display: contents;
    }
    .testimonial-3{
        display: contents;
    }
    .testimonial-4{
        display: contents;
    }
    .testimonial-5{
        display: none;
    }
    .image-equipe{
        width: 300px;
        height: 200px;
    }
    .team-1{
        margin-left: -10%;
        margin-top: 0%;
    }
    .team-2{
        margin-left: -2%;
        margin-top: 75%;
    }
    .team-3{
        margin-left: -54%;
        margin-top: 150%;
    }
    .section-group-5 h5{
        margin-top: 215%;
    }
    .rodape{
        margin-top: 80%;
        width: 100%;
    }
    .rodape-global{
        margin-left: 60%;
    }
}