@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(0, 0, 0, 0.932);
    font-family: "Ubuntu","Arial";
}
nav{
    font-family: "Ubuntu";
    text-transform: capitalize;
    text-align: center;
    margin-top: 15px;
}
nav a{
    color: white;
    list-style: none;
    list-style-type: none;
    text-decoration: none;
}

/* nav ul{
    width: 100vw;
    height: 70px;
} */
 nav li{
    display: inline-block;
    padding: 5px 10px;
} 

.logo{
    font-size: 45px;
    text-transform: none;
    font-weight: 700;
    margin-right: 700px;
}
.cabecalho{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#contact{
    background-color: #181884;
    padding: 15px;
    border-radius: 7px;
}
.section-group-1{
    width: 100%;
    height: 600px;
    display: contents;
    position: absolute;
}
.section-group-1 h2{
    color: white;
    font-size: 60px;
    font-family: 'Ubuntu';
    width: 301px;
    margin-top: 340px;
    margin-left: 328px;
    display: inline-block;
}
span{
    text-decoration: underline;
    text-decoration-color: red;
    text-decoration-style: inherit;

}
.section-group-1 p{
    color: white;
    font-size: 15px;
    width: 294px;
    margin-top: 11px;
    margin-left: 325px;
}
#butao{
    background-color: #181884;
    color: white;
    border: none;
    padding: 20px;
    border-radius: 5px;
    margin-left: 323px;
    margin-top: 13px;
    font-size: 15px;
    font-weight: bolder;
}
#controle{
    margin-left: 500px;
    margin-top: -194px;
    position: absolute;
}
.section-group-2{
    
    width: 100%;
    height: 1000px;
    padding: 25px;
    color: white;
}

.img-group{
    width: 870px;
    margin-left: 29%;
}

.group-image{
    float: left;
    width: 12%;
    margin-top: 58px;
    margin-left: 50px;
}
.section-group-2 h2{
    color: rgb(57, 7, 150);
    text-transform: uppercase;
    font-weight: bolder;
    margin-top: 14%;
    margin-left: 16%;
    font-size: 34px;
}
.section-group-2 h1{
    margin-top: 10px;
    margin-left: 298px;
    width: 330px;
    font-size: 55px;

}
#title-sec{
    text-align: center;
    color: rgb(78, 78, 78);
    margin-top: 80px;
    font-size: 22px;
}
#title-sec-1{
    width: 245px;
    margin: 20px;
    margin-left: 295px;
    color: grey;

}
.group-p{
    color: grey;
}
.section-group-2 h5{
    font-size: 18px;
}
.group-form{
    display: inline-block;
    width: 14%;
    margin: 10px;
    padding: 5px;
    text-align: inherit;
}
#colum{
    position: absolute;
    right: 35%;
    top: 112%;

}
#colum1{
    position: absolute;
    right: 15%;
    top: 112%;
}
#colum2{
    position: absolute;
    right: 35%;
    top: 135%;
}
#colum3{
    position: absolute;
    right: 15%;
    top: 135%;
}
.icon-social-desktop{
    padding: 5px;
    background-color:rgba(102, 51, 153, 0.5);
    border-radius: 4px;
    margin-bottom: 15px;   
}
.icon-social-rocket{
    background-color: rgba(255, 0, 0, 0.5);
    padding: 5px;
    border-radius: 4px;
    margin-bottom: 15px;  
}
.icon-social-up{
    background-color: rgba(172, 255, 47, 0.5);
    padding: 5px;
    border-radius: 4px;
    margin-bottom: 15px;  
}
.icon-social-doc{
    background-color: rgba(255, 255, 0, 0.5);
    padding: 5px;
    border-radius: 4px;
    margin-bottom: 15px;  
}
.section-group-3{
    height: 1000px;
    position: relative;
}

.section-group-3 h3{
    color: rgb(57, 7, 150);
    text-transform: uppercase;
    font-weight: bolder;
    margin-top: 8%;
    text-align: center;
    font-size: 20px;
}
.section-3-intro{
    color: white;
    font-weight: bolder;
    margin-top: 2%;
    text-align: center;
    font-size: 50px;
    margin-bottom: 40px;
}
.section-3-group{
    display: inline-table;
    padding: 0px 15px;
}
.section-group-3 p{
    width: 250px;
    color: grey;
    margin-top: 10px;
}
.section-3-h2{
    color: white;
    padding: 11px 0px;
    font-size: 25px;
}
.section-3-posi{
    position: absolute;
    left: 20%;
}
.section-group-3 h5{
    position: absolute;
    top: 80%;
    left: 46%;
    font-size: 20px;
    color: rebeccapurple;
}
.image-games{
    border-radius: 15px;
    box-shadow: 5px 5px 1px rebeccapurple;
    opacity: 0.8;
}

#icon{
    position: absolute;
    left: 28%;
    top: 75%;
    color: gold;
    border-radius: 20px;
    font-size: 2.5rem;
}
#icon:hover{
    color: rgb(111, 0, 255);
}
#icon1{
    position: absolute;
    left: 62%;
    top: 75%;
    color: gold;
    border-radius: 20px;
    font-size: 2.5rem;
}
#icon1:hover{
    color: rgb(111, 0, 255);
}
#icon2{
    position: absolute;
    left: 95%;
    top: 75%;
    color: gold;
    border-radius: 20px;
    font-size: 2.5rem;
}
#icon2:hover{
    color: rgb(111, 0, 255);
}
#icon3{
    position: absolute;
    left: 70%;
    color: gold;
    border-radius: 20px;
    font-size: 2.5rem;
}
#icon3:hover{
    color: rgb(111, 0, 255);
}
.fundo{
    
    position: absolute;
    background-color: rgb(248, 248, 255);
    height: 80%;
    width: 90%;
    background-color: #1010225e;
    opacity: 0.4;
    margin: -5% 5%;

}

.section-group-4{
    position: relative;
    height: 690px;
    
}
.section-group-4 h3{
    color: rebeccapurple;
    font-size: 20px;
    margin-left: 14%;
    text-transform: uppercase;
}
.section-group-4 h2{
    font-size: 3rem;
    color: white;
    margin-left: 14%;
    margin-top: 25px;
    margin-bottom: 25px;
}
.far {
    position: absolute;
    left: 70%;
    color: gold;
    font-size: 2.5rem;
    top: 8%;
}
.testimonial-1{
    display: inline-block;
    position: relative;
    width: 450px;
    padding: 15px;
    background-color: #00000029;
    margin-left: 14%;
    border-radius: 7px;
    margin-top: 6%;
}
.photo-perfil{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.section-group-4 h4{
    color: white;
    position: absolute;
    left: 115px;
    top: 31px;
    font-size: 25px;
}
.section-group-4 h6{
    color: dimgrey;
    position: absolute;
    left: 115px;
    top: 69px;
    font-size: 14px;
}
.section-group-4 p{
    color: floralwhite;
    margin-top: 18px;

}
.fas {
    color: gold;
    position: absolute;
    top: 25%;
    left: 73%;
}
.fas1 {
    color: gold;
    position: absolute;
    top: 25%;
    left: 73%;
}
#star-1{
    left: 77%;
}
#star-2{
    left: 81%;

}
#star-3{
    left: 85%;

}
#star-4{
    left: 89%;

}
.testimonial-2{
    display: inline-block;
    position: relative;
    width: 450px;
    padding: 15px;
    background-color: #00000029;
    margin-left: 3%;
    border-radius: 7px;
    margin-top: 6%;
}
.photo-perfil-1{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.testimonial-3{
    display: inline-block;
    position: relative;
    width: 450px;
    padding: 15px;
    background-color: #00000029;
    margin-left: 3%;
    border-radius: 7px;
    margin-top: 6%;
}
.photo-perfil-2{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.section-group-4 h5{
    position: absolute;
    top: 80%;
    left: 46%;
    font-size: 20px;
    color: rebeccapurple
}
.secao-5-posi{
    display: flex;
    margin-top: 4%;
    justify-content: space-around;
}
.section-group-5{
    height: 900px;
}
.section-group-5 h3{
    color: rebeccapurple;
    font-size: 20px;
    text-transform: uppercase;
    margin-left: 16%;
    margin-top: 10%;
    margin-bottom: 25px;
}
.section-group-5 h2{
    font-size: 3rem;
    color: white;
    margin-left: 16%;
}
.team-1{
    position: absolute;
    left: 16%;
    background-color: #c632cd2e;
    border-radius: 10px;
}
.team-1 h4{
    color: white;
    margin-top: 10px;
    text-align: center;
}
.team-1 h6{
    font-size: 13px;
    color: grey;
    text-align: center;
    margin-top: 7px;
}
.team-2{
    position: absolute;
    margin-left:-3%;
    background-color: #c632cd2e;
    border-radius: 10px;
}
.team-2 h4{
    color: white;
    margin-top: 10px;
    text-align: center;
}
.team-2 h6{
    font-size: 13px;
    color: grey;
    text-align: center;
    margin-top: 7px;
}
.team-3{
    position: absolute;
    left: 60%;
    background-color: #c632cd2e;
    border-radius: 10px;
}
.team-3 h4{
    color: white;
    margin-top: 10px;
    text-align: center;
}
.team-3 h6{
    font-size: 13px;
    color: grey;
    text-align: center;
    margin-top: 7px;
}
.section-group-5 h5{
    margin-top: 28%;
    font-size: 17px;
    color: rebeccapurple;
    margin-left: 46%;
}
.section-group-5 img{
    border-radius: 7px;
}

.rodape h2{
    color: white;
    margin-left: 10%;
    font-weight: bold;
    font-size: 2.7rem;
}
.icon-rodape{    
    margin-left: 10%;
    margin-top: 5%;
}
#icon-face{
    color: cornflowerblue;
    margin: 10px;
    font-size: 25px;
    margin-right: 40px;
}
#icon-twitter{
    margin: 10px;
    color: cornflowerblue;
    font-size: 25px;
    margin-right: 40px;
}
#icon-youtube{
    margin: 10px;
    color: red;
    font-size: 25px;
}
.rodape p{
    color: grey;
    margin-top: 25px;
}
.rodape-global{
    text-align: center;
    margin-left: 30%;
    position: absolute;
}
.rodape-global h5{
    color: white;
    font-size: 1.5rem;
}
.rodape-plano-0{
    position: absolute;
    top: -211px;
}
.rodape-plano-1{
    position: absolute;
    top: -211px;
    right: -299px;
}
.rodape-plano-2{
    position: absolute;
    top: -211px;
    right: -488px;
}
.rodape-plano-3{
    position: absolute;
    top: -211px;
    right: -665px;
}
.rodape{
    background-color: rgba(0, 0, 0, 0.411);
}