.principal{
    width: 60%;
    margin: 0 auto;
}
.primeiro-conj{
    background-color: thistle;
    width: 100%;
    height: 50px;
    padding: 5px;
    display: flex;
    border-radius: 25px;
}
p{
    justify-content: center;
    color: white;
    text-align: left;
    margin-left: 5px;
}
.caixa1{
    background-color: blue;
    border-radius: 25px;
    width: 25%;
}
.caixa2{
    background-color: blue;
    border-radius: 25px;
    width: 25%;
}
.caixa3{
    background-color: blue;
    border-radius: 25px;
    width: 25%;
}
.caixa4{
    background-color: blue;
    border-radius: 25px;
    width: 25%;
}

.segundo-conj{
    background-color: thistle;
    width: 100%;
    height: 50px;
    padding: 5px;
    display: flex;
    border-radius: 25px;
}
.caixa5{
    background-color: blue;
    border-radius: 25px;
    width: 25%;
}
.caixa6{
    background-color: blue;
    border-radius: 25px;
    width: 50%;
    background-color: grey;
}
.caixa7{
    background-color: blue;
    border-radius: 25px;
    width: 25%;
}
.caixa8{
    background-color: blue;
    border-radius: 25px;
    width: 25%;
}

.terceiro-conj{
    background-color: thistle;
    width: 100%;
    height: 50px;
    padding: 5px;
    display: flex;
    border-radius: 25px;
}
.caixa9{
    background-color: blue;
    border-radius: 25px;
    width: 100%;
}
.caixa10{
    background-color: blue;
    border-radius: 25px;
    width: 40%;
    background-color: grey;
}
.caixa11{
    background-color: blue;
    border-radius: 25px;
    width: 100%;
}
.caixa12{
    background-color: blue;
    border-radius: 25px;
    width: 100%;
}

.quarto-conj{
    background-color: thistle;
    width: 100%;
    height: 50px;
    padding: 5px;
    display: flex;
    border-radius: 25px;
}
.caixa13{
    background-color: blue;
    border-radius: 25px;
    width: 25%;
}
.caixa14{
    background-color: blue;
    border-radius: 25px;
    width: 60%;
    background-color: grey;
}
.caixa15{
    background-color: blue;
    border-radius: 25px;
    width: 25%;
}
.caixa16{
    background-color: blue;
    border-radius: 25px;
    width: 25%;
}
.box{
    margin-left: 5px;
    margin-right: 5px;
}


.caixa1:hover{
    background-color: rgb(66, 66, 112);
   
}
.caixa2:hover{
    background-color: rgb(78, 78, 92);
    
}
.caixa3:hover{
    background-color: rgb(2, 2, 46);
    
}
.caixa4:hover{
    background-color: rgb(105, 48, 102);
    
}

.caixa5:hover{
    background-color: rgb(51, 17, 59);
  
}
.caixa6:hover{
    background-color: blue;

}
.caixa7:hover{
    background-color: rgb(172, 111, 172);
    
}
.caixa8:hover{
    background-color: rgb(61, 223, 188);
    
}


.caixa9:hover{
    background-color: rgb(5, 46, 44);
   
}
.caixa10:hover{
    background-color: rgb(62, 167, 149);
    
}
.caixa11:hover{
    background-color: rgb(17, 143, 74);
   
}
.caixa12:hover{
    background-color: rgb(92, 94, 23);
   
}


.caixa13:hover{
    background-color: rgba(236, 253, 0, 0.993);
    
}
.caixa14:hover{
    background-color: coral;
}
.caixa15:hover{
    background-color: rgb(146, 20, 30);
   
}
.caixa16:hover{
    background-color: rgb(255, 0, 0);
    
}