
.boxes{
    width: 100%;
    height: 100%;
}
.box-center h2{
    font-size: 3rem;
}
.box-center h5{
    font-size: 1.5rem;
}
.box-bottom{
    margin-top: 10%;
}
.box-bottom-bottom{
    border-top: 5px solid black;
}
.box-bottom h3{
    font-size: 1.6rem;
}
.bar-progress-color{
    height: 6px;
    border-radius: 5px;
}
.bar-1{
    background-color: rgba(236, 145, 26);
}
.box-bottom-perfil{
    margin-top: 12%;
}
.box-img{
    width: 45px;
    height: 45px;
}