@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600&family=Ubuntu:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;1,100&family=Ubuntu:wght@500;700&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(8,8,8);
    font-family: Roboto,arial;
    color: rgb(255, 255, 255);
}
body.active{
    background: rgb(220, 241, 250);
    color: black;
}
.top-nav-bar{
    display: flex;
    width: 85%;
    margin-left: 10%;
    margin-right: 5%;
    color: white;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5%;
}
.top-nav-bar.active{
    color: black;
}
.top-nav-search{
    display: flex;
}
#box_icone_busca{
    width: 30px;
    height: 30px;
    padding: 10px;
    position: relative;
    left: -39px;
    top: 1px;
  }
  #icone_busca {
    color: rgb(107, 106, 106);
    cursor: pointer;
  }
.top-nav-search h1{
    margin-right: 20px;
}
.top-nav-search input{
    border: none;
    border-radius: 25px;
    width: 300px;
    height: 35px;
    background-color: rgba(17, 17, 17, 0.603);
    padding: 10px;
}
.top-nav-icon{
    margin-left: auto;
}
.fa-plus{
    background: white;
    color: black;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    font-size: 22px;
    text-align: center;
}
.fa-plus.active{
    background:black;
    color: white;
}
.icons-top{
    margin-right: 10px;
}
.noturno.active{
    color: black;

}
.top-nav-perfil{
    text-align: center;
    display: flex;
    border-left: 1px solid rgb(92, 92, 92);
    padding: 0px 0px 0px 15px;
    align-items: center;
}
.side-nav{
    width: 41px;
    display: inline-block;
    flex-direction: column;
    margin-left: 5%;
    font-size: 25px;
    margin-top: 60px;
}
.side-icons{
    margin-bottom: 60px;
    display: inline-block;
    color: white;
    font-size: 30px;
}
.side-icons.active{
 color: black;
}

.bloco-conjunto{
    display: flex;
}
.perfil{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.box-img{
    border-radius: 50%;
    width: 20px;
    height: 20px;
}
/* left side box */
.side-icons.active{
    color: black;
}
.left-side{
    width: 60%;
    background-color: black;
    color: white;
    margin-left: 3%;
    padding: 15px;
    border-radius: 15px;
    display: inline-block;
    margin-right: 10px;
}
.left-side.active{
    color: black;
    background-color: white;
}
/* .active, .dark{
 color: black;
 background-color: white;
} */
.left-side-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.progress{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.progress-num{
    display: flex;
    margin: 25px 0px 25px 0px;
}
.box-num h3{
    font-size: 30px;
}
.lef-side-icons{
    margin-right: 20px;
    font-size: 22px;
}
.lef-icon-1:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 5px;
}
.lef-icon-2:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 5px;
}
.fa-list-ul{
    margin-right: 10px;
}
.box-num{
    margin-right: 20px;
}

.box-top.active{
    color: black;
}

.box-1{
    
    background-color: rgba(236, 145, 26, 0.118);

}
.box-top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 20px;
}
.boxes.active{
    color: black;

}
.busca{
    display: none;
}
.buscador.active{
    color: white;
}

/* .icon1.active{
    color: black;
}
.icon2.active{
    color: black;
}
.ico3.active{
    color: black;
}
.ico4.active{
    color: black;
} */
.box-center{
    text-align: center;

}
.color{
    text-decoration: none;
    color: white;
}
.color:active{
    color: black !important;
}
.bar-progress{
    width: 100%;
    background-color: rgb(43, 42, 41);
    height: 4px;
    border-radius: 5px;
    margin-top: 5px;
}
.box-bottom h5{
    float: right;
    margin-top: 5px;
}
.box-bottom{
    margin-bottom: 30px;
    padding: 10px;
}
.box-bottom-bottom{
    display: flex;
    justify-content: space-between;
    border-top: 2px solid black;
    height: 50px;
    align-items: center;
}
.box-bottom-perfil{
    padding: 10px;
}

  
.box-bottom-bottom p{
    padding: 10px;
    background-color: black;
    border-radius: 25px;
    margin-right: 10px;
}
.icons{
    background-color: black;
    border-radius: 50%;
    height: 18px;
    width: 20px;
    text-align: center;
}
.box-2{
    
    background-color: rgb(54 132 229 / 14%);
    
}
.box-3{
    
    background-color: rgba(29, 26, 236, 0.118);
   
}
.box-4{
    
    background-color: rgba(236, 26, 236, 0.118);
    
}
.box-5{
    
    background-color: rgba(43, 236, 26, 0.148);
    
}
.box-6{
   
    background-color: rgba(229, 233, 20, 0.141);
    
}
.boxes{
    border-radius: 20px;
    display: inline-block;
    border-radius: 10px;
    margin: 0px 1% 1% 0px;
    width: 32%;
}
.retangulo{
    border-radius: 20px;
    display: inline-block;
    border-radius: 10px;
    margin: 0px 1% 1% 0px;
    width: 100%;
}
.i1{
    color: rgba(236, 145, 26);
}
.i2{
    color: rgb(54 132 229 / 21%);
}
.i3{
    color:rgba(29, 26, 236);
}
.i4{
    color: rgba(236, 26, 236);
}
.i5{
    color: rgba(43, 236, 26);
}
.i6{
    color:rgba(229, 233, 20);
}
/* .bar-progress{

} */
.bar-1{
    border:1px solid rgba(236, 145, 26);
    width: 60%;

}
.bar-2{
    border:1px solid rgb(54 132 229 / 21%);
    width: 50%;
}
.bar-3{
    border:1px solid rgba(29, 26, 236);
    width: 80%;
}
.bar-4{
    border:1px solid rgba(236, 26, 236);
    width: 20%;
}
.bar-5{
    border:1px solid rgba(43, 236, 26);
    width: 60%;
}
.bar-6{
    border:1px solid rgba(229, 233, 20);
    width: 40%;
}
#day-1{
    color:rgba(236, 145, 26); 
}
#day-2{
    color:rgb(54 132 229 / 21%);
}
#day-3{
    color:rgba(29, 26, 236);
}
#day-4{
    color:rgba(236, 26, 236);
}
#day-5{
    color:rgba(43, 236, 26);
}
#day-6{
    color:rgba(229, 233, 20);
}
/* Right side*/

.right-side{
    width: 27%;
    display: inline-block;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 15px;
}
.right-side.active{
    background-color: white;
    color: black;
}
.message{
    padding: 7px;
}
.message:hover{
    background-color: rgba(38, 0, 255, 0.24);
    border-radius: 15px;
    cursor: pointer;
}
.m1{
    display: flex;
    margin-top: 50px;
}
.depoimento{
    margin-left: 15px;
}
.depoimento p{
    font-size: 15px;
    margin-top: 10px;
}
.depoimento-alinhamento{
    display: flex;
    justify-content: space-between;
}
.m2{
    display: flex;
    margin-top: 50px;
}
.m3{
    display: flex;
    margin-top: 50px;
}
.m4{
    display: flex;
    margin-top: 50px;
}
.m5{
    display: flex;
    margin-top: 50px;
}
.m6{
    display: flex;
    margin-top: 50px;
}
.data{
    float: right;
}

    /* Links */
.links{
    text-decoration: none;
    list-style: none;
    color: rgb(255, 255, 255);
}
.links.active{
    text-decoration: none;
    list-style: none;
    color: rgb(0, 0, 0);
}

/* Responsividade */
@media (max-width:1364px){
    .left-side{
        width: 50%;
    }
    .boxes{
        width: 48%;
    }
    .right-side{
        width: 35%;
    }
}
@media (max-width:720px) {
    .top-nav-search h1{
        display: none;
    }
    .bloco-conjunto{
        display:block
    }
    .side-nav{
        width: 80%;
    }
    #buscador{
        width: 100%;
    }
    .side-icons{
        margin-bottom: 40px;
        margin-right: 20px;
    }
    .left-side{
        display: block;
        width: 99%;
    }
    .boxes{
        width: 48%;
    }
    .right-side{
        width: 100%;
    }
     
    
} 

    @media (max-width:520px) {
        .top-nav-search h1{
            display: none;
        }
        .bloco-conjunto{
            display:block
        }
        .side-nav{
            width: 80%;
        }
        #buscador{
            width: 90%;
        }
        .side-icons{
            margin-bottom: 40px;
            margin-right: 20px;
        }
        .left-side{
            display: block;
            width: 99%;
        }
        .boxes{
            width: 48%;
        }
        .right-side{
            width: 100%;
        }
         
        
}
@media (max-width:393px) {
    .top-nav-bar{
        width: 100%;
        margin-left: 0;
    }
    .top-nav-search h1{
        display: none;
    }
    .bloco-conjunto{
        display:block
    }
    .side-nav{
        width: 80%;
    }
    #buscador{
        width: 90%;
    }
    .side-icons{
        margin-bottom: 40px;
        margin-right: 20px;
    }
    .left-side{
        display: block;
        width: 99%;
    }
    .boxes{
        width: 96%;
    }
    .right-side{
        width: 100%;
    }
    
}


/* NOTIFICAÇÂO*/

.global-notificacao{
    width: 15%;
    height: 50%;
    background-color: #597172;
    position: absolute;
    border-radius: 10px;
    right: 80px;
    top: 80px;
    padding: 10px;
    display: none;
    
}
.notifica{
    margin-top: 4%;
    height: 21%;
    transition: .7s ease-in-out;
    padding: 10px;
    border-radius: 10px;
    background: #0080803b;
}
.notifica:hover{
    cursor: pointer;
    background-color: rgba(240, 248, 255, 0.4);
    transition: .7s ease-in-out;
}
.fa-x{
    margin-bottom: 5%;
}
.fa-x:hover{
    cursor: pointer;
    color: red;
}

.contato h5{
    color: black;
    font-size: 15px;
    margin-bottom: 10px;
}

.conteudo-data{
    color: black;
    float: right;
    border-bottom: 2px  solid black;
}

/* PERFIL CONFIG*/

.perfil-config{
    width: 10%;
    height: 20%;
    background-color: #1d4452;
    position: absolute;
    right: 3%;
    top: 8%;
    border-radius: 10px;
    color: rgb(255, 251, 251);
    padding: 15px;
    display: none;
}
.perfil-config h5{
    font-size: 18px;
    margin-left: 10px;
}
.p1{
    height: 10px;
}
.edita{
    display: flex;
    margin-top: 10%;
    align-items: center;
}
.configurar{
    display: flex;
    margin-top: 10%;
    align-items: center;
}
.sair{
    display: flex;
    margin-top: 35%;
    align-items: center;
}
/* GRAFICO*/

.chart {
    border: 3px solid royalblue;
  }
  
  .active{
  
    color: black;
}
h2 .active{
    color: black;
}